* {
  font-family: Georgia, "Times New Roman", Times, serif;
  transition: 0.3s all;
  user-select: none;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.App {
  box-shadow: 0 4px 15px #0000001a;
  overflow: hidden;
  margin: 30px 0 0 30px;
  width: 500px;
  border-radius: 15px;
}
.top {
  width: auto;
  height: 40px;
  background: linear-gradient(rgb(152, 152, 209), pink);
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  color: white;
}
.task {
  display: flex;
  width: auto;
  height: 100%;
  border: 2px black;
  background-color: rgb(228, 230, 248);
  justify-content: space-between;
}
.task p {
  margin-left: 10px;
  font-size: 20px;
}

.task:hover {
  background-color: rgb(206, 209, 236);
}
.actionBtn {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.task-done {
  background-color: rgb(145, 115, 168);
  color: white;
}
.task-done p {
  text-decoration: line-through;
  font-style: italic;
}
.task-done:hover {
  background-color: rgb(74, 59, 85);
  color: white;
}
.actionBtn input {
  width: 25px;
  height: 20px;
}
.btnHide {
  display: none;
}
.btnShow {
  display: block;
}
